[project]
	description = JavaScript Style Guide
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/isfalk
[access "refs/for/refs/*"]
	read = group user/isfalk
	push = group user/isfalk
	label-Code-Review = -2..+2 group user/isfalk
	label-Verified = -1..+1 group user/isfalk
	rebase = group user/isfalk
	removeReviewer = group user/isfalk
	submit = group user/isfalk
[access "refs/heads/*"]
	read = group user/isfalk
	create = group user/isfalk
	push = +force group user/isfalk
	pushMerge = group user/isfalk
[access "refs/tags/*"]
	push = +force group user/isfalk
	pushTag = group user/isfalk
	pushSignedTag = group user/isfalk
